<%= simple_form_for trick do |f| %>

  <div class="formulaire">
  <div class="lineform"> <%= f.input :name %> </div>
  <div class="lineform"><%= f.input :person %></div>
  <div class="lineform"><%= f.input :description %></div>
  <div class="lineform"><%= f.input :difficulty %></div>
  <div class="lineform"><%= f.input :picture %></div>
  <div class="lineform"><%= f.button :submit, class: 'btn btn-primary' %></div>
  </div>
<% end %>
