<%= form_with(model: trick) do |form| %>
  <% if trick.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(trick.errors.count, "error") %> prohibited this trick from being saved:</h2>

      <ul>
        <% trick.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


<div class="field">
  <label for="formGroupName" class="form-label"><%= form.label :name %></label>
  <input type="text" class="form-control" id="formGroupName" placeholder="Ecrit le nom de la figure">
</div>

  <!--<div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>-->

<div class="field">
  <label for="formGroupPerson" class="form-label"><%= form.label :person %></label>
  <input type="text" class="form-control" id="formGroupPerson" placeholder="Ecrit le nom de la figure">
</div>

  <!--<div class="field">
    <%= form.label :person %>
    <%= form.text_field :person %>
  </div>-->

<div class="field">
  <label for="formGroupDescription" class="form-label"><%= form.label :description %></label>
  <input type="text" class="form-control" id="formGroupDescription" placeholder="Ecrit le nom de la figure">
</div>

  <!--<div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>-->

  <div class="field">
    <%= form.label :difficulty %>
    <%= form.number_field :difficulty %>
  </div>

  <div class="field">
    <%= form.label :picture %>
    <%= form.text_field :picture %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
