<p id="notice"><%= notice %></p>

<h1>AERIAL TRICKS</h1>

<!--<table>-->
  <!--<thead>
    <tr>
      <th>Name</th>
      <th>Person</th>
      <th>Description</th>
      <th>Difficulty</th>
      <th>Picture</th>
      <th colspan="3"></th>
    </tr>
  </thead>-->

  <tbody class="centreToi">
    <% @tricks.each do |trick| %>
      <tr>
        <!--<td><%= trick.name %></td>
        <td><%= trick.person %></td>
        <td><%= trick.description %></td>
        <td><%= trick.difficulty %></td>-->
        <td>
          <%= link_to trick do%>
            <img src="<%= trick.picture %>"/>
            <%= trick %>
          <% end %>
        </td>

        <!--<td>
          <a href="<%= link_to 'blah', trick %>" alt='photo'>
            <img src="<%= trick.picture %>"/>
          </a>
        </td>
        <td><%= link_to 'Edit', edit_trick_path(trick) %></td>
        <td><%= link_to 'Destroy', trick, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
<!--</table>-->

<br>

<%= link_to 'New Trick', new_trick_path %>
