<p id="notice"><%= notice %></p>

<div class="box">
  <img class="imgshow" src="<%= @trick.picture %>"/>


      <div class="littlebox">
        <div class="line">
          <!--<h2>Name:</h2>-->
          <p class="showName"><%= @trick.name %>  </p>
        </div>

        <div class="line">
          <!--<h2>Person:</h2>-->
          <p class="showPerson"><%= @trick.person %>  </p>
        </div>

        <div class="line">
          <!--<h2>Description:</h2>-->
          <p class="showDesc"><%= @trick.description %>  </p>
        </div>

        <div class="line">
          <!--<h2>Difficulté</h2>-->
          <p>Difficuté: <%= @trick.difficulty %> </p>
        </div>

        <%= link_to 'Modifier', edit_trick_path(@trick) %>
        <%= link_to 'Retour', tricks_path %>
        <%= link_to 'Destroy', trick_path, method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </div>
</div>
