<p id="notice"><%= notice %></p>


<div class="row">
    <div class="col-xs-12 col-sm-5">
        <img class="img-responsive" src="{{$blogPost->getImagePath()}}" width="100%">
    </div>
    <div class="col-xs-12 col-sm-7">
        <div class="row">
            <div class="col-sm-6">
                <h2>{!!$blogPost->title!!}</h2>
            </div>
            <div class="col-sm-6">
                <h3 class="pull-right">
                    {{$blogPost->created_at}}
                </h3>
            </div>
        </div>
        {!! Purifier::clean($blogPost->message) !!}
    </div>
    <div class="col-xs-12">
        <hr />
    </div>
</div>





<div class="row">
<div class="col-xs-12 col-sm-5">
  <img class="imgshow img-responsive" src="<%= @trick.picture %>"/>
</div>

      <div class="littlebox col-xs-12 col-sm-7"">
        <div class="row">
            <div class="col-sm-6">
            <p class="showName"><%= @trick.name %>  </p>
            </div>
            <div class="col-sm-6">
              <p class="showPerson"><%= @trick.person %>  </p>
            </div>

        </div>
      </div>



        <div class="line">
          <!--<h2>Description:</h2>-->
          <p class="showDesc"><%= @trick.description %>  </p>
        </div>

        <div class="line">
          <!--<h2>Difficulté</h2>-->
          <p>Difficuté: <%= @trick.difficulty %> </p>
        </div>

        <%= link_to 'Modifier', edit_trick_path(@trick) %>
        <%= link_to 'Retour', tricks_path %>
        <%= link_to 'Destroy', trick_path, method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </div>
</div>
